﻿@CHARSET "UTF-8";
/****USTAWIENIA GŁÓWNE*****/
/*
{
	margin:0px;
	padding:0px;
}*/
body
{
	/* background-color:#1a1a1a; */
	font-family:Futura, "Trebuchet MS", Arial, sans-serif;
	color:#1a1a1a;
	margin:0 auto;
	padding:0;
	width:1000px;
}
a
{
	text-decoration:none;
	color:#c88d00;
}
a:hover
{
	/* font-weight:bold; */
	color:#caa500;
}
img, table, tr, td
{
	border:1px;
	/* border-radius:5px; */
}
img
{
	max-width: 688px;
	max-height: 400px;
}
.centruj
{
	text-align: center;
}
.prawosc
{
	text-align: right;
}
.lewosc
{
	text-align: left;
}

.center
{
	float:center;
}
input[type=text], input[type=submit], input[type=button], input[type=password]
{
	width:150px;
}

/*********** PRZYCISKI ****************/
input[type=button], input[type=submit]
{
	padding:3px 12px;
	background:#f8a800;
	border:#ad7500 2px solid;
	/*border-top: #ad7500 1px solid;/*
	border-bottom: #a8a800 2px solid;*/
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	/*box-shadow:inset 0 3px #AAA; -webkit-box-shadow:inset 0 3px #AAA; -moz-box-shadow:inset 0 3px #AAA;*/
}
#btn_adm_m
{
	background:#f85800;
	border:#ad7500 2px solid;
}

#input_a, #input_b
{
	font-family:Futura, "Trebuchet MS", Arial, sans-serif;
	color:#000000;
	font-size:14px;
	
	padding:2px;
	background-color: #F1F1F1;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	border-color:#f8d888;
}
#input_a
{
	min-width:695px;
	max-width:695px;
	margin:5px;
	
}

/****** BOKSY *******/

div
{
    color:#1A1A1A;
    padding: 10px;
    background: #FAFAFA;
    /* border: 0px solid; */
	/* border-radius:10px; */
	/* border-color:#f8d800; */
	margin-bottom:15px;
	text-align:left;
	overflow: auto;
}
/***** BOKSY TEMATÓW ******/
#blok_tematu_a, #blok_tematu_b
{
	background: #EAEAEA;
	margin-bottom: 1px;
	/* border: 2px solid;
	border-color:#f8d800; */
}
#blok_tematu_b
{
	background: #E1E1E1;
}
#podzialka_bloku_tematu_a, #podzialka_bloku_tematu_b, #podzialka_bloku_tematu_adm
{
	background: none;
	padding: 0px;
	margin: 0px;
}
#podzialka_bloku_tematu_a
{
	min-width: auto 60%;
}
#podzialka_bloku_tematu_b
{
	width: auto 30%;
}
#podzialka_bloku_tematu_adm
{
	width: auto 10%;
}

#glowka,#menu,#listwa,#blok_glowny, #kom
{
	border: 1px solid;
	border-color:#CFCBC5;
}
#glowka
{
	height:150px;
	border-bottom: 0;
	margin-bottom:0px;
}
#menu
{
	border-top: 0;
	height:30px;
	margin-bottom:0px;
	
}

#listwa, #blok_glowny, #kom
{
	font-family:Futura, "Trebuchet MS", Arial, sans-serif;
	color:#222222;
	background: #f8d800;
	padding: 0px;
	margin-bottom:0px;
	text-align:center;
		
	
}
#blok_glowny
{
	margin-bottom:10px;
	margin-top: 10px;
}
#kom
{
	margin:0px;
	text-align:left;
}
#nius
{
	background: #EAEAEA;
	padding: 10px;
	margin:0px;
	border: 0px solid;
	min-height:175px;
}
#boczek, #boczek_wew
{
	right:0;
	top: 50px;
	padding:0px;
	margin:0px;
	min-width:1px;
	overflow:hidden;
	max-height: 220px;
	background: #E5E5E5;
	
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#boczek
{
	height: 220px;
	padding-left:25px;
	width:220px;
	background-image: url("gpx/btn_panel.jpg");
	position: fixed;
	
	
	border-right: 0px;
}
#boczek_wew
{
	height:210px;
	border: 0px;
	padding:5px;
}
#kontener
{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
    /* border-width: 5px solid; */
	width:960px;
	max-width: 960px;
}


/****** POLE TEKSTOWE *******/
#edytor_a
{
	width: auto;
}
#my_text
{
	max-width:700px;
	width:700px;
	height:250px;
	background-color:#F1F1F1;
	font-family:Futura, "Trebuchet MS", Arial, sans-serif;
	color:#f1f1f1;
	border: 2px solid;
	/* border-radius:10px; */
	/* border-color:#f8d800; */
	padding: 5px;
	
}
/****** FORUM *******/

